<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course Selection Page</title>
    <link rel="stylesheet" type="text/css" href="code/tableStyle.css">
</head>
<body>
    <div id="instructions">
        <p>Select the course for which you want the comments to be visualised.</p>
    </div>
    <form action="code/makingATable.php" method="post" >
        Enter the course name (e.g. "dyslexia" or "Ebola"): <input type="text" id="chosenTopic" name="chosenTopic">
           <input type="submit" value="Select Course" id="submitWord">
    </form>
</body>
</html>
