<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wordcloud</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/wordcloud.css">
	<script type="text/javascript">
		var chosenWords = [
        {% for word in chosen_words %}
        	'{{ word }}',
        {% endfor %}
		];

        var csrfToken = '{{ csrf_token }}';
        var sessionKey = '{{ session_key }}';
	
		function week(week) {
			document.getElementById("week").value = week;
			submitWords();
		}
		
		function hashtags() {
			document.getElementById("hashtags-search").submit();
		}
		
		function resetSearch() {
			document.getElementById("reset-search").submit();
		}
		
		function getParent(id, displayTarget) {
			if (document.getElementById(displayTarget).style.display != "inline-block") {
				$.getJSON('/data/comment?id=' + id, function(data) {
					document.getElementById(displayTarget).innerHTML = '"' + data["comment"] + '"<br />';
					if (data["other_comments_nbr"]) {
						document.getElementById(displayTarget).innerHTML += '<i><b>' + data["other_comments_nbr"] + ' other users commented on this thread.</i></b><br />';
					}
					document.getElementById(displayTarget).style.display = "inline-block";
				});
			} else {
				document.getElementById(displayTarget).style.display = "none";
			}
		}
    </script>
</head>
<body>
    <div id="wordcloud-container">
		{% if sql %}
			<p>SQL: {{ sql }}</p>
		{% endif %}
		<div id="coursetitle">Course {{ chosen_topic }} #{{ course_run }} 
			<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#help" aria-expanded="true" aria-controls="help"><b>?</b></button>
		</div>
		
		<div id="help" class="collapse">
			<h5>Information &amp; Help</h5>
			<span>The Word Cloud contains the top 200 most used words in the comments on your research.<br />
			The words are scaled based on the frequency, with more frequently used words being drawn larger.<br />
			Click on a word to show the comments featuring that word.</span>
		</div>
		
        {% if chosen_words %}
        <span id="current-selection-label">Current selection:</span>
        <div id="chosen-words">
            {% for word in chosen_words %}
            <div class="word-pill alert alert-info alert-dismissable" data-word="{{ word }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ word }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if chosen_words %}
		<div id="controlbuttons">
			<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#wordcloud-collapse" aria-expanded="true" aria-controls="wordcloud-collapse">
			Hide/Show the Wordcloud
			</button>
			<button class="btn btn-primary btn-sm" type="button" onclick="resetSearch();">Reset search</button>
        </div>{% endif %}
		
        <div {% if chosen_words %}class="show"{% endif %} id="wordcloud-collapse">
			<div id="abovethecloud">
				<div id="weekstabs">
					<div class="weektab weektaball{% if not selectedWeek and not hashtags_selected %} selectedtab{% endif %}"><a href="#" onclick="week(0);">All weeks{% if not selectedWeek and not hashtags_selected %} &#10004;{% endif %}</a></div>{% for week in weeks %}<div class="weektab{% if selectedWeek == week %} selectedtab{% endif %}"><a href="#" onclick="week({{ week }});">Week {{ week }}{% if selectedWeek == week %} &#10004;{% endif %}<span></span></a></div>{% endfor %}{% if hashtags %}<div class="weektab{% if hashtags_selected %} selectedtab{% endif %}"><a href="#" onclick="hashtags();">&num;hashtags{% if hashtags_selected %} &#10004;{% endif %}<span></span></a></div>{% endif %}
				</div>
				</div>
            <div id="wordcloud"></div>
        </div>

        {% if comments %}
        <div id="comments-title">The 100 most recent comments featuring your chosen words from the {{ chosen_topic }} course are shown below.</div>
        <table id="commentsTable">
            <thead>
                <tr>
                    <th>Comment Link</th>
                    <th>Comment Text</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td><a href="https://www.futurelearn.com/courses/{{ chosen_topic }}/{{ course_run }}/comments/{{ comment.source_id }}" class="comment-link" data-comment-id="{{ comment.id }}">Join this Conversation</a></td>
                    <td>
					<span class="week_step_number">Step {{ comment.week_number }}.{{ comment.step_number }}
					{% if comment.tutor_id and comment.tutor_id != 0 %}
					<b>Tutor comment</b>
					{% endif %}
					</span>
					{% if comment.parent_id %}
						<a href="#" onclick="getParent({{ comment.parent_id }}, 'parent-comment-{{ comment.id }}');" class="showParentComment">In response to another comment (#{{ comment.parent_id }})</a>
						<span id="parent-comment-{{ comment.id }}" class="parentComment"></span>
					{% endif %}
					<br />
					{{ comment.text|safe }}
					</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
		
        <form id="word-form" action="{% url 'results' %}" method="POST" style="display: none;">
			<input type="hidden" id="week" name="week" value="{% if selectedWeek %}{{ selectedWeek }}{% else %}0{% endif %}">
            {% csrf_token %}
        </form>
		<form id="reset-search" action="{% url 'results' %}" method="POST" style="display: none;">
			<input type="hidden" id="week" name="week" value="0">
            {% csrf_token %}
			<input type="hidden" name="session_key" value="{{ session_key }}">
        </form>
		<form id="hashtags-search" action="{% url 'results' %}" method="POST" style="display: none;">
			<input type="hidden" id="gethashtags" name="gethashtags">
            {% csrf_token %}
			<input type="hidden" name="session_key" value="{{ session_key }}">
        </form>
		
    </div> <!-- /wordcloud-container -->
    <div id="nodataimage">
		<div id="nodatatext">
			<h5>No data</h5>
			<span>Your search returned no result.<br />
			You can reset your research using the button down below.</span><br />
			<button class="btn btn-primary btn-sm" type="button" onclick="resetSearch();">Reset search</button><br /><br />
			<img src="/static/images/no_more_comments.jpg" style="width:350px;" />
		</div>
    </div>
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/d3.js"></script>
    <script type="text/javascript" src="/static/js/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="/static/js/popper.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/wordcloud.js"></script>
</body>
</html>
