body {
    font-family: arial, sans-serif;
    overflow-y: scroll;
    height: 100%;
}

text:hover { 
 	opacity: .7 !important;
 	cursor: hand;
 	cursor: pointer;
}

table {
	border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

html {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
